form {
  /* background-color: rgb(194, 94, 18);
  width: 500px; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
p {
  line-height: 0;
  margin: 5px;
}
